/* src/pages/Home.css */
.home-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.overlay {
    background: linear-gradient(
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:0px
}

.content {
  text-align: corner;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn.new {
  background-color: #007bff;
  color: white;
}

.btn.used {
  background-color: #28a745;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
